body {
    background-color: #f7f5f2;
}



/*  */
/*  */
/* Landing header */
header {
    position: sticky;
    top: -200px;
    z-index: 999; 
}

.hello-i-am  {
    position: absolute;
    left: 100px;
    bottom: 0px;
    
    letter-spacing: 4px;
    font-size: 80px;
    line-height: 0.7;
    font-family: 'Modak', cursive;
    transform: scale(1.2, 1.5);
    color: #f7f5f2;
}

.menu-items {
    border-radius: 3px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.menu-items a:first-child {
    padding: 10px 10px 10px 25px;
    border-bottom-left-radius: 3px;
}

.menu-items a:last-child {
    padding: 10px 25px 10px 10px;
    border-bottom-right-radius: 3px;
}

.menu-items a {
    text-decoration: none;
    color: #f7f5f2;
    background-color: #b5cfe1;
    font-weight: bolder;
    font-size: 1rem;
    letter-spacing: 3px;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
    position: relative;
    line-height: .4;  
}

#header-disp {
    background-image: url(../images/maine2-crop.jpg);
    background-position: center;
    background-size: cover;
    height: 45vh;
    position: relative;
}




/*  */
/*  */
/* main section */
.art-header {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    margin: 150px 0 0 0;
    text-align: center;
    padding: 0px;
    font-size: 12vh;
    font-weight: 100;
}

.art-meat {
    margin: 0 auto;
}

.art-meat h2 {
    padding: 10px 0px;
    margin-bottom: 0;
    text-align: center;
    color: #171b1e;
}

.about p {
    text-indent: 40px;
    font-weight: 300;
    font-size: 22px;
}

.about p:last-child {
    margin-top:50px;
    font-style: italic;
    font-weight: 200
}

.big-box {
    height: 45vh;
    width:100%;
    margin-bottom: 2px;
    background-color: #b5cfe1;
    background-position: center;
    background-size: cover;
    background-image: url(../images/nasa-app.png);
}

#projTitle{
    margin-top: 150px;
}

.small-boxes > * {
    height: 5vmax;
    background-color: #c7dcec;
}

.small-boxes {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 2px;
}

.small-boxes div {
    display: flex;
}

.small-boxes span {
    color: #f7f5f2;
    margin: auto;
    font-size: 3vmax;
}

.small-boxes p {
    color: #f7f5f2;
    margin: auto;
    font-size: 3vmax;
}

.poster {
    writing-mode: unset;
    margin: 100px 0;
    text-align: center;
    padding: 0px;
    font-size: 12vh;
    font-weight: 100;
}

.contact > * {
    background-color: #b5cacdb8;
}


.contact div {
    padding: 0 0 1000px 0;
    margin: 5px auto 0 auto;
}

.contact img {
    height:75px;
    width:75px;
    opacity: .2;
    margin: 10px auto 10px 5px;
}
    
.contact span {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    display: block;
    margin: 10px auto;
    color: #f7f5f2;
    letter-spacing: 3px;
    font-size: 3.6vmax;
    font-family: sans-serif;
    font-style: italic;
}


/* footer */
footer {
    display: flex;
    justify-content: center;
    background-color: #4d545e;
    padding: 10px;
}

footer span {
    font-size: 7px;
    padding: 0 5px;
    vertical-align: middle;
}


/* utility */
.head-room {
    margin-top: 150px;
}

.row {
    width: 80%;
    margin: 0 auto;
}

.ital {
    font-style: italic;
}

.hide {
    display: none;
}



/*  */
/*  */
/* screen event: column break */
@media only screen and (max-width: 767px) {
    .small-boxes {
        grid-template-columns: 2fr;
    }
    .art-header {
        writing-mode: unset;
        -webkit-writing-mode: unset;
        margin: 150px 0 -100px 0;
    } 

    /* shoutout @chipcullen on stackoverflow for helping me figure out how to center this */
    .hello-i-am {
        position: absolute;
        width: 100%;
        left: 22%;
        margin-left: -42px;
        font-size: 10.5vw;
        margin-bottom: 20px;
    }
    .contact img {
        height:30px;
        width:30px;
        opacity: .2;
        margin: 0;
    }
} 

/* screen event: phone */
@media only screen and (max-width: 420px) {
    .menu-items {
        justify-content: center;
    }
    .menu-items a {
        line-height: 1;
        font-size: 1.7vmax;
        padding: 10px;
    } 
    .poster {
        margin-bottom: 0px;
    }
}





/* ref */
.sumcolors {
    color: #d7e2e7;
    color: #748c9c;
    color: #4d545e;
    color: #b5cfe1;
    color: #8ea5b3;
    color: #171b1e;
    color: #a4b5bf;
    color: #cbd2d4;
    color: #c7dcec;

}

.sumfonts {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Modak', cursive;
    font-family: 'Oxygen', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}